icomoon-font-path ?= "fonts"

i-youtube = "\e906"
i-soundcloud = "\e905"
i-twitter = "\e904"
i-instagram = "\e901"
i-wordpress = "\e902"
i-slack = "\e903"
i-facebook = "\e900"
i-facebook-f = "\e900"

