.content-section
  color $white
  padding 35px 0

  &--icons
    font-size 60px
    margin-top 40px
    text-align center

    &__small
      font-size 48px

      span
        margin 0 5px

  &--text
    line-height 1.4em
    margin-top 30px
