.double-line
  display block
  font-family $dk
  margin-bottom 10px

  &--part
    color $color-1
    display block
    font-size 30px
    text-align center

    &__last
      color $color-2
      font-size 55px

    &__white
      color $white

    &__blue
      color $color-4

    &__orange
      color $color-6

    &__left
      text-align left

    &__right
      text-align right

    ~/__big
      @media ( min-width $screen-sm )
        & ^[0..1]
          &__first
            font-size 42px

          &__last
            font-size 72px
