.get-involved
  background-image url( '../images/get-involved.jpg' )

  .image-section--text
    color $color-2
    font-size 30px
    top 20px

    @media ( min-width $screen-sm )
      font-size 42px

    @media ( min-width $screen-sm )
      font-size 56px
      top 52px
