.image-section
  &--wrapper
    aspect-ratio( 3, 2 )
    background-position center top
    background-size cover
    position relative

  &--text
    font-family $dk
    left 0
    position absolute
    text-align center
    text-transform uppercase
    width 100%
