.newsletter
  background $black
  color $white
  padding 25px 0
  text-align center

  &--title
    font-family $dk
    font-size 32px

    @media ( min-width $screen-md )
      font-size 52px
      margin 0

  &--form
    margin-bottom 20px

    @media ( min-width $screen-md )
      margin 0

    input
      height 35px
      border-radius ( @height / 2 )
      font-size 20px
      line-height @height
      margin 0 auto
      max-width 350px
      text-align center

      +placeholder()
          color alpha( $black, .4 )

      @media ( min-width $screen-md )
        width 320px

  .container
      align-items center
      display flex
      justify-content space-between

    a
      text-decoration none

  .site-branding
    float left
    margin 0

    &--image
      width 200px

  .brands
    &--image
      display inline-block
      margin-left 10px
      width 30px
