.pq
  background $color-2
  padding 25px 0

  &--title
    color $color-1
    font-family $dk
    font-size 74px
    margin-bottom 20px
    text-align center

    @media ( min-width $screen-md )
      font-size 120px

  &--text
    color $white
