.site-header
  margin 0 auto
  max-width 600px

  @media ( min-width $screen-lg )
    height 500px
    max-width 800px
    position relative

  &--image
    display block
    margin 0 auto
    max-width 515px
    width 100%

    @media ( min-width $screen-lg )
      absolute left bottom

  &--text
    @media ( min-width $screen-lg )
      float right
      position relative
      z-index 10

  .double-line
    @media ( min-width $screen-lg )
      margin-bottom 25px

      &--part
          font-size 72px
          text-align center

          &__first
            font-size 48px