.themes
  background $color-1
  padding 50px 0

  &--title
    margin-bottom 50px

  &--list
    color $white

    li
      list-style-type upper-roman
      margin 1em
      text-transform uppercase
