@font-face
  font-family 'DIN Alternate'
  font-style normal
  font-weight normal
  src url( $fonts-dir + '/DINAlternate/DINAlternate-Regular.woff2' ) format( 'woff2' ), url( $fonts-dir + '/DINAlternate/DINAlternate-Regular.woff' ) format( 'woff' )

@font-face
  font-family 'DK Cinnabar Brush'
  font-style normal
  font-weight normal
  src url( $fonts-dir + '/DKCinnabarBrush/DKCinnabarBrush.woff2' ) format( 'woff2' ), url( $fonts-dir + '/DKCinnabarBrush/DKCinnabarBrush.woff' ) format( 'woff' )

.font-din
  font-family 'DIN Alternate'

.font-dk
  font-family 'DK Cinnabar Brush'
