@font-face
  font-family $din
  font-style normal
  font-weight normal
  src url( $fonts-dir + '/DINAlternate/DINAlternate-Regular.woff2' ) format( 'woff2' ), url( $fonts-dir + '/DINAlternate/DINAlternate-Regular.woff' ) format( 'woff' )

@font-face
  font-family $dk
  font-style normal
  font-weight normal
  src url( $fonts-dir + '/DKCinnabarBrush/DKCinnabarBrush.woff2' ) format( 'woff2' ), url( $fonts-dir + '/DKCinnabarBrush/DKCinnabarBrush.woff' ) format( 'woff' )
