*
  box-sizing border-box

body
  font-family $body-font

img
  max-width 100%

p
  line-height 1.4em

  &:first-child
    margin-top 0

  &:last-child
    margin-bottom 0

.container
  margin 0 auto
  max-width 800px
  padding 0 10px

  @media ( min-width $screen-sm )
    padding 0 20px
