icon( $icon )
    &:before
        content $icon
        icon-font()

icon-font()
    font-family 'icons' !important /* stylelint-disable-line declaration-no-important */
    font-style normal
    font-variant normal
    font-weight normal
    line-height 1
    speak none
    text-transform none
